<% provide(:title, "Users") %>
<% provide(:header, "Unicorn Student") %>
<%= search_form_for(@search, :path=> users_studentview_index_path) do |f| %>
	<div class="field">
		<%= f.label :email_cont, "Email Contains" %>
		<%= f.text_field :email_cont %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
<ul data-role="listview" data-inset="true">
	<% @messages.each do |message| %>
	<li><a href="<%= message_path(message) %>">
		<%= message.subject %>
	</a></li>
	<% end %>
</ul>
