<% provide(:title, "Users") %>
<% provide(:header, "User Search | Unicorn Student") %>
<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.text_field :email_cont %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
<ul data-role="listview" data-inset="true">
	<% @users.each do |user| %>
	<li><a href="<%= user_path(user) %>">
		<%= user.email %>
	</a></li>
	<% end %>
</ul>
