<h1>Listing adverts</h1>

<table class="table table-stripped">
  <tr>
    <th>Duration</th>
    <th>Audience</th>
    <th>Messgae</th>
    <th>Url</th>
    <th>Notes</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
    <td><%= advert.duration %></td>
    <td><%= advert.audience %></td>
    <td><%= advert.messgae %></td>
    <td><%= advert.url %></td>
    <td><%= advert.notes %></td>
    <td><%= username(advert.user_id) %></td>
    <td><%= link_to 'Show', advert %></td>
    <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
    <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advert', new_advert_path, :class=> "btn" %>
