= form_for @subscription do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscription.errors.count, "error")} prohibited this subscription from being saved:"
      %ul
        - @subscription.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :resource
    = f.text_field :resource
  .field
    = f.label :resource_id
    = f.number_field :resource_id
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
