<%= form_for(@coursematerial) do |f| %>
  <% if @coursematerial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coursematerial.errors.count, "error") %> prohibited this coursematerial from being saved:</h2>

      <ul>
      <% @coursematerial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :material_path %><br />
    <%= f.text_field :material_path %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
