<h1>Listing lecturers</h1>

<table>
  <tr>
    <th>Userprofile</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lecturers.each do |lecturer| %>
  <tr>
    <td><%= lecturer.userprofile_id %></td>
    <td><%= lecturer.department_id %></td>
    <td><%= link_to 'Show', lecturer %></td>
    <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
    <td><%= link_to 'Destroy', lecturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecturer', new_lecturer_path %>
