%DOCTYPE
%html
  %head
    %title 
      = yield(:title) + "| UnicornRails"
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag    "mobile", :media => "all"
    = javascript_include_tag "mobile/mobile"
    = csrf_meta_tags
  %body
    %div{"data-role"=> "page", "data-theme"=> data_theme }
      .header{"data-role"=> "header", "data-theme"=> data_theme }
        %h1
          = yield :header
      .content{"data-role"=> "content", "data-theme"=> data_theme }
        = yield
      .footer{"data-role"=> "footer", "data-theme"=> data_theme }
        %h1 Footer