<!DOCTYPE html>
<html>
<head>
  <title>UnicornRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
	<div class="container">
		<div class="row-fluid">
			<%= render "shared/sidebar" %>
			<div class="span8 adminpanel"><%= yield %></div>			
		</div>
		
	</div>


</body>
</html>
